<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 1. 모든 서블릿과 필터가 공유하는 루트 컨텍스트(Spring 컨테이너)를 생성 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 2. Spring 전역 설정 파일을 지정(action-service.xml, action-dataSource.xml) -->
		<param-value>
			/WEB-INF/spring/root-context.xml
			/WEB-INF/config/action-dataSource.xml
			/WEB-INF/config/action-service.xml
		</param-value>
	</context-param>

	<!-- 
		1. ContextLoaderListener 등록(Spring 컨텍스트 로딩)
		2. ContextLoaderListener는 Spring의 전역 컨텍스트(ApplicationContext)를 초기화
		3. contextConfigLocation에서 지정한 설정 파일을 애플리케이션이 시작될 때 자동 로드
		4. DAO, Service 등의 빈을 미리 생성하여 모든 서블릿에서 사용할 수 있도록 함
	 -->	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>